* {
  font-family: "Titillium Web", sans-serif;
  color: #fbfbfb;
  /* to make HTML text unselectable */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* change svg color */
.filter-white {
  filter: brightness(0) invert(1) !important;
}

.color-black {
  color: #000000;
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

a:hover > span {
  color: #000000;
}

a:hover > i {
  color: #000000;
}

li {
  color: #000000;
}

a {
  color: #fff !important;
}

.list-style-2 {
  list-style-type: none;
  padding-inline-start: 0px;
}

.background {
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);

  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@media (max-width: 576px) {
  .container {
    padding-left: 25px !important;
    padding-right: 25px !important;
  }
}

/* prova button */

.glow-on-hover {
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  position: relative;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(2px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10rem;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.card-text {
  font-size: 0.9rem;
}

#git-link {
  color: #002bff !important;
}
